body {
    background-color: #1F2937;
}

a {
    color: inherit;
    text-decoration: none;
}




#container1 {
    display: flex;
}

#container1 > h3 {
    flex: 3 1 auto;
    size: 24px;
    color: #F9FAF8;
}

#container1 > h5 {
    flex: 1;
    size: 18px;
    color: #E5E7EB;
}

#container2 {
    width: 400px;
    height: 400px;
}

#container2 > h1 {
    size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

#container2 > p {
    size: 18px;
    color: #E5E7EB;
}

#container2 > button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
}

#container3 {
    background-color: grey;
    color: white;
    height: 200px;
    width: 300px;
    text-align: center;
}

#container4 {
    background-color: white;
    padding: 20px;
}

#container4 > h1 {
    text-align: center;
}

#container4 > p {
    
}



footer {
    text-align: center;
    color: #E5E7EB;
}